<div class="container">
  <h1>Data Explorer</h1>
  {{#each query in model}}
    <div class="row">
      {{query.name}}
      {{query.public_read}}
      {{query.public_run}}
      {{query.can_run}}
    </div>
  {{/each}}
</div>
