.container.explorer {

  .query-container {
    margin: 10px;
  }
  .button-container {
    margin: 10px 0;
  }
  h2.title {
    margin: 10px 0;
  }
  margin-bottom: 50px;
}

.edit-controls {
  visibility: visible;
  &.ec-hidden {
    visibility: hidden;
    #showEdit {
      visibility: visible;
    }
  }
}

.query-textarea {
  width: 600px;
  min-height: 220px;
  overflow: scroll;
  font-family: monospace;
}
