.container.explorer {
  .parse {
    &.errors {
      background-color: dark-light-diff($danger, $secondary, 90%, -20%);
      color: $danger;
    }
    &.success {
      background-color: dark-light-diff($success, $secondary, 90%, -20%);
      color: $success;
    }
    padding: 3px;
    border-radius: 3px;
    margin: 10px 0;
    .er-message {
      font-weight: bold;
    }
    .er-context {
      white-space: pre;
      font-family: monospace, serif;
    }
  }

  .query-container {
    margin: 10px;
  }
  .button-container {
    margin: 10px 0;
  }
  h2.title {
    margin: 10px 0;
  }
}

.left-column {
  float: left;
  max-width: 700px;
}
.right-column {
  float: right;
  max-width: 300px;
}

.query-textarea {
  width: 600px;
  height: 300px;
  overflow: scroll;
}
.parameters {
  float: right;
  border: 1px solid rgb(195, 187, 187);
  padding: 6px;
  max-width: 200px;
  input {
    width: auto;
    margin-left: 6px;
  }
  .row {
    margin: 5px 0;
  }
}
